.gigtype-button {
  align-items: center;
  background-color: $dark-red;
  border-radius: 50%;
  box-shadow: 1.5px 1.5px .75px black;
  display: flex;
  height: 3.2em;
  justify-content: center;
  margin-bottom: 3rem;
  width: 3.2em;
}

.gigtype-button:hover {
  background-color: $red;
}

.gigtype-button:active {
  background-color: $red;
  box-shadow: .75px .75px .5px black;
  transform: translate(.75px, .75px);
}

.nav-image {
  align-items: center;
  display: flex;
  justify-content: center;
}

.vertical-align {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-left: 3rem;
}

.vertical-align {
  &::before {
    display: none;
  }

  &::after {
    display: none;
  }
}